// Yeti 3.3.5
// Bootswatch
// -----------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

// Navbar =====================================================================

.navbar {
  border: none;
  font-size: 13px;
  font-weight: 300;
  .navbar-toggle:hover .icon-bar {
    background-color: #b3b3b3;
  }
